# Dependencies
node_modules/
frontend/node_modules/

# Python Cache & Env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.venv/
env/

# Build Output
dist/
frontend/dist/
build/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Environment variables
.env
.env.local

# Large media / cache
.tempmediaStorage/
